<#@ template language="C#" inherits="IntentTemplateBase<Intent.Modelers.Domain.Api.ClassModel>" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="Intent.Modules.Common" #>
<#@ import namespace="Intent.Modules.Common.Templates" #>
<#@ import namespace="Intent.Metadata.Models" #>
<#@ import namespace="Intent.Modelers.Domain.Api" #>
<#@ import namespace="Intent.Modelers.Domain.Events.Api" #>

## <#= Model.Name #>
<# if (!string.IsNullOrWhiteSpace(Model.Comment)) { #>

<#= Model.Comment #>
<# } #>

| Attribute | Type | Nullable | Default | Description |
|-----------|------|----------|---------|-------------|
<# foreach (var attribute in Model.Attributes) { #>
| <#= attribute.Name #> | <#= GetTypeName(attribute.TypeReference) #> | <#= attribute.TypeReference.IsNullable ? "Yes" : "No" #> | <#= attribute.Value #> | <#= string.IsNullOrWhiteSpace(attribute.Comment) ? "" : attribute.Comment #> |
<# } #>

### Constructors
<# foreach (var constructor in Model.Constructors) {
   var sig = string.Join(", ", constructor.Parameters.Select(p => $"{GetTypeName(p.TypeReference)} {p.Name}"));
#>

#### <#= Model.Name #>(<#= sig #>)
<# if (!string.IsNullOrWhiteSpace(constructor.Comment)) { #>

<#= constructor.Comment #>

<# } #>
<# if (constructor.Parameters.Any()) { #>
##### Parameters

| Name | Type | Description |
|------|------|-------------|
<# foreach (var parameter in constructor.Parameters) { #>
| <#= parameter.Name #> | <#= GetTypeName(parameter.TypeReference) #> | <#= string.IsNullOrWhiteSpace(parameter.Comment) ? "" : parameter.Comment #> |
<# } } #>

<# var events = constructor.PublishedDomainEvents().ToList();
   if (events.Any()) { #>
##### Published Domain Events

| Domain Event | Description |
|--------------|-------------|
<#   foreach (var de in events) { #>
| <#= de.Element.Name #> | <#= string.IsNullOrWhiteSpace(de.Element.Comment) ? "" : de.Element.Comment #> |
<#   } #>
<# } } #>

<# if (Model.Operations.Any()) { #>
### Operations
<# foreach (var operation in Model.Operations) {
   var sig = string.Join(", ", operation.Parameters.Select(p => $"{GetTypeName(p.TypeReference)} {p.Name}"));
#>

#### <#= operation.Name #>(<#= sig #>)
<# if (!string.IsNullOrWhiteSpace(operation.Comment)) { #>

<#= operation.Comment #>
<# } #>
<# if (operation.Parameters.Any()) { #>
##### Parameters

| Name | Type | Description |
|------|------|-------------|
<# foreach (var parameter in operation.Parameters) { #>
| <#= parameter.Name #> | <#= GetTypeName(parameter.TypeReference) #> | <#= string.IsNullOrWhiteSpace(parameter.Comment) ? "" : parameter.Comment #> |
<# } } #>

<# var events = operation.PublishedDomainEvents().ToList();
   if (events.Any()) { #>
##### Published Domain Events

| Domain Event | Description |
|--------------|-------------|
<#   foreach (var de in events) { #>
| <#= de.Element.Name #> | <#= string.IsNullOrWhiteSpace(de.Element.Comment) ? "" : de.Element.Comment #> |
<#   } #>
<# } } } #>

<# if (Model.AssociatedToClasses().Any()) { #>
### Outbound Associations

| Associated Class | Multiplicity |
|------------------|------|
<# foreach (var associatedClass in Model.AssociatedToClasses()) { #>
| <#= associatedClass.Name #> | <#= associatedClass.Multiplicity.ToString() #> |

<# } } #>
<# if (Model.AssociatedFromClasses().Any()) { #>
### Inbound Associations

| Associated Class | Multiplicity |
|------------------|------|
<# foreach (var associatedClass in Model.AssociatedFromClasses()) { #>
| <#= associatedClass.Name #> | <#= associatedClass.Multiplicity.ToString() #> |

<# } } #>
<#+
string GetTypeName(ITypeReference tr)
{
    var name = tr.Element.Name;
    if (tr.IsCollection) name += " []";
    return name;
}
#>